@model Transaction

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Transaction</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="TransactionId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TransactionId" class="form-control" />
                <span asp-validation-for="TransactionId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Amount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CurrencyCode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CurrencyCode" class="form-control" />
                <span asp-validation-for="CurrencyCode" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TransactionDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="datetime" asp-for="TransactionDate" class="form-control" />
                <span asp-validation-for="TransactionDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Status" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <datalist id="statuses">
                    <option value="Approved" />
                    <option value="Failed" />
                    <option value="Finished" />
                  </datalist>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}