@model IEnumerable<TechnicalAssessment.Models.ViewModels.CurrencyViewModel>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Currencies";
}
 
<h2>Currencies By Country</h2>

@if (Model.ToList().Count == 0)
{
    <p>
        Currently no records in the Database.
    </p>
}
else
{
<form asp-controller="Currency" asp-action="CurrencyIndex" method="get">
<table class="table">
    <tr>
        <th>Currency ID</th>
        <th>Country</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CurrencyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country.CountryCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency.CurrencyCode)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Currency">Details</a> |
            </td>
        </tr>
    }
</table>
    <div class="col-md-offset-2 col-md-10">
        <input asp-action="" asp-controller="" type="button" value="Export" /> 
    </div>
</form>
}
<script language="javascript">

</script>
