@model Currency
@{
    ViewData["Title"] = "Delete";
}

<h2>Delete Customer</h2>
<hr />
<h4>Confirm Deletion of Customer Record.</h4>
<table class="table">
    <tr>
        <th>Currency ID</th>
        <th>Currency Code</th>
        <th>Country Code</th>
    </tr>
    <tr class="dl-horizontal">
        <td>
            @Html.DisplayNameFor(model => model.CurrencyId)
        </td>
        <td>
            @Html.DisplayFor(model => model.CurrencyCode)
        </td>
        <td>
            @Html.DisplayFor(model => model.CountryCode)
        </td>
    </tr>
</table>
<div>
    <form asp-controller="Customer" asp-action="CustomerDelete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" asp-controller="Currency" asp-action="CurrencyDelete" asp-for="CurrencyId" asp-route-id="@Model.CurrencyId" />
            <a asp-controller="Customer" asp-action="CustomerIndex">Back to List</a>
        </div>
    </form>
</div>