@model Currency
@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-controller="Currency" asp-action="CurrencyEdit">
    <div class="form-horizontal">
        <h4>Transaction</h4>
        <hr />
        <div class="form-group">
            <label asp-for="CountryCode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CurrencyCode" class="form-control" />
                <span asp-validation-for="CurrencyCode" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CountryCode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CountryCode" class="form-control" />
                <span asp-validation-for="CountryCode" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-controller="Currency" asp-action="CurrencyIndex">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

