@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<h1>Technical Assessment - Home Page</h1>
<body>
    <hr />
    <a style="padding-top:10px;" id="swagger" href="" onclick="getUrl()" >Swagger API Documentation</a>
    <script>
        function getUrl() {
            document.getElementById("swagger").href = window.location.href + "swagger";
        }
    </script>
</body>