@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Technical Assessment</h1>
    <form asp-controller="Home" asp-action="Index" method="post">
        <fieldset>
            <legend style="padding-top: 10px; padding-bottom: 10px;">Upload CSV or XML data</legend>
            <div style="padding-top: 10px; padding-bottom: 10px;">
                <div>
                    <label>Upload CSV data</label>
                </div>
            </div>
            <div class="buttons">
                <div class="upload-button">
                    <div class="col-xs-12" style="padding: 10px;">
                        <input name="file" type="file" onchange="submitForm('form');" />
                    </div>
                    <div class="col-xs-12" style="padding: 10px;">
                        <button onclick="submitForm('form')">Upload Data</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<script>
function submitForm(input) {
  var input = document.getElementById(input);
  var url = '@Url.Action("Transactions", "TransactionsController")';
  var file = input.file;
  var formData = new FormData();
  formData.append("file", file);

  $.ajax(
    {
      url: url,
      data: formData,
      processData: false,
      contentType: false,
      type: "POST",
      success: function (data) {
        alert("Files Uploaded!");
      }
    }
  );
}
</script>
