@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Technical Assessment - Upload Page</h1>
    <form enctype="multipart/form-data">
        <fieldset>
            <legend style="padding-top: 10px; padding-bottom: 10px;">Upload CSV or XML Transaction data</legend>
            <div style="padding-top: 10px; padding-bottom: 10px;">
                <div>
                    <label>Upload CSV data</label>
                </div>
            </div>
            <div>
                <div>
                    <div class="col-xs-12" style="padding: 10px;">
                        <input name="files" type="file" onchange="checkfile(this)" />
                    </div>
                    <div class="col-xs-12" style="padding: 10px;">
                        <input type="button" value="Upload" multiple onclick="uploadFiles('files');" />
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<script type="text/javascript" language="javascript">
function checkfile(sender) {
    var validExts = new Array(".xml", ".csv");
    var fileExt = sender.value;
    fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
    if (validExts.indexOf(fileExt) < 0) {
        alert("Invalid file selected, valid files are of " +
            validExts.toString() + " types.");
        input.replaceWith(input.val('').clone(true));
      return false;
    }
    else return true;
}
function uploadFiles(inputId) {
    var input = document.getElementById(inputId);
    var files = input.files;
    var formData = new FormData();

    for (var i = 0; i != files.length; i++) {
        formData.append("files", files[i]);
    }

    var uploadUrl = '@Url.Action("Transaction", "Upload")';
    var redirectUrl = '@Url.Action("Index", "Transaction")';

    $.ajax({
        url: _url,
        type: 'POST',
        data: formData,
        processData: false, 
        contentType: false,
        error: function () {
            alert("There was a problem processing the files");
        },
        success: function () {
            respnse.redirectUrl(redirectUrl);
        }
    });
}
</script>