@{
    Layout = "_Layout";
    ViewData["Title"] = "Customer Page";
}

    <div>
        <h1>Technical Assessment</h1>
        <form asp-controller="Customers" asp-action="Customers" method="get">
            
        </form>
    </div>
